## Finance

The YahooQuotesReader class allows to get quotes data from Yahoo! Finance.

Tutorial on downloading financial data from yahoo finance

In [2]:
# Hide warnings if there are any
import warnings
warnings.filterwarnings('ignore')

import pandas_datareader.data as web

amzn = web.get_quote_yahoo('AMZN')

amzn

          PE change_pct    last  short_ratio    time
AMZN  248.72     +1.25%  977.96         1.21  4:00pm

The Options class allows the download of options data from Yahoo! Finance.

The get_all_data method downloads and caches option data for all expiry months and provides a formatted DataFrame with a hierarchical index, so its easy to get to the specific option you want.

In [3]:
from pandas_datareader.data import Options

aapl = Options('aapl', 'yahoo')

data = aapl.get_all_data()

data.iloc[0:5, 0:5]

                                              Last     Bid     Ask       Chg  \
Strike Expiry     Type Symbol
2.5    2017-09-15 call AAPL170915C00002500  161.55  161.20  161.85  0.000000
       2017-11-17 call AAPL171117C00002500  158.14  154.45  155.60  0.000000
       2018-01-19 call AAPL180119C00002500  158.13  154.40  155.60  0.000000
                  put  AAPL180119P00002500    0.02    0.00    0.02  0.000000
5.0    2017-09-15 call AAPL170915C00005000  155.30  156.15  156.75 -2.899994

                                              PctChg
Strike Expiry     Type Symbol
2.5    2017-09-15 call AAPL170915C00002500  0.000000
       2017-11-17 call AAPL171117C00002500  0.000000
       2018-01-19 call AAPL180119C00002500  0.000000
                  put  AAPL180119P00002500  0.000000
5.0    2017-09-15 call AAPL170915C00005000 -1.833119

Show the $100 strike puts at all expiry dates:

In [4]:
data.loc[(100, slice(None), 'put'),:].iloc[0:5, 0:5]

                                            Last   Bid   Ask   Chg      PctChg
Strike Expiry     Type Symbol
100.0  2017-09-15 put  AAPL170915P00100000  0.01  0.00  0.01  0.00    0.000000
       2017-10-20 put  AAPL171020P00100000  0.01  0.00  0.01  0.00    0.000000
       2017-11-17 put  AAPL171117P00100000  0.04  0.03  0.06  0.02  100.000000
       2017-12-15 put  AAPL171215P00100000  0.07  0.06  0.08  0.01   16.666670
       2018-01-19 put  AAPL180119P00100000  0.16  0.15  0.16 -0.03  -15.789475

Show the volume traded of $100 strike puts at all expiry dates:

In [5]:
data.loc[(100, slice(None), 'put'),'Vol'].head()

Strike  Expiry      Type  Symbol
100.0   2017-09-15  put   AAPL170915P00100000    594.0
        2017-10-20  put   AAPL171020P00100000    150.0
        2017-11-17  put   AAPL171117P00100000     25.0
        2017-12-15  put   AAPL171215P00100000     11.0
        2018-01-19  put   AAPL180119P00100000    415.0
Name: Vol, dtype: float64

To select specific subset of data. If a given expiry date is not available, data for the next available expiry will be returned

In [6]:
 import datetime

expiry = datetime.date(2016, 1, 1)

data = aapl.get_call_data(expiry=expiry)

data.iloc[0:5:, 0:5]

,,,,Last,Bid,Ask,Chg,PctChg
Strike,Expiry,Type,Symbol,,,,,
2.5,2017-09-15,call,AAPL170915C00002500,161.55,161.20,161.85,0.000000,0.000000
5.0,2017-09-15,call,AAPL170915C00005000,155.30,156.15,156.75,-2.899994,-1.833119
7.5,2017-09-15,call,AAPL170915C00007500,151.70,151.95,152.85,0.000000,0.000000
10.0,2017-09-15,call,AAPL170915C00010000,150.63,146.90,148.10,0.000000,0.000000
15.0,2017-09-15,call,AAPL170915C00015000,145.63,141.90,143.10,0.000000,0.000000

Available expiry dates can be accessed from the expiry_dates property.

aapl.expiry_dates

In [7]:
#select the call option with the fifth expiry date
data = aapl.get_call_data(expiry=aapl.expiry_dates[4])

data.iloc[0:5:, 0:5]

,,,,Last,Bid,Ask,Chg,PctChg
Strike,Expiry,Type,Symbol,,,,,
141.0,2017-10-13,call,AAPL171013C00141000,20.90,20.75,21.30,-2.65,-11.252653
144.0,2017-10-13,call,AAPL171013C00144000,15.95,15.35,15.85,0.00,0.000000
147.0,2017-10-13,call,AAPL171013C00147000,15.75,12.80,13.25,0.00,0.000000
148.0,2017-10-13,call,AAPL171013C00148000,14.45,11.75,12.40,0.00,0.000000
150.0,2017-10-13,call,AAPL171013C00150000,12.83,12.50,12.95,-0.47,-3.533836

A list-like object containing dates can also be passed to the expiry parameter, returning options data for all expiry dates in the list.

In [8]:
data = aapl.get_near_stock_price(expiry=aapl.expiry_dates[0:3])

data.iloc[0:5:, 0:5]

                                            Last   Bid   Ask   Chg     PctChg
Strike Expiry     Type Symbol
160.0  2017-09-22 call AAPL170922C00160000  4.00  4.00  4.05  1.26  45.985400
       2017-09-29 call AAPL170929C00160000  4.50  4.45  4.60  1.15  34.328360
162.5  2017-09-15 call AAPL170915C00162500  1.68  1.66  1.68  0.68  67.999990
       2017-09-22 call AAPL170922C00162500  2.67  2.65  2.70  0.88  49.162018
       2017-09-29 call AAPL170929C00162500  3.20  3.15  3.25  0.92  40.350880

## Google Finance

In [11]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2017, 1, 1)

end = datetime.datetime(2017, 7, 25)

f = web.DataReader("AAPL", 'google', start, end)

f.head()

              Open    High     Low   Close     Volume
Date
2016-09-13  107.51  108.79  107.24  107.95   62176190
2016-09-14  108.73  113.03  108.60  111.77  112340318
2016-09-15  113.86  115.73  113.49  115.57   90613177
2016-09-16  115.12  116.13  114.04  114.92   79886911
2016-09-19  115.19  116.18  113.25  113.58   47023046

f.ix['2017-01-04']

### Google Finance Quotes


The GoogleQuotesReader class allows to get quotes data from Google Finance.

In [12]:
import pandas_datareader.data as web

h = web.get_quote_google(['AMZN', 'GOOG'])

h

RemoteDataError: Unable to read URL: http://www.google.com/finance/info?q=AMZN%2CGOOG

### Google Finance Options

*Experimental*

The Options class allows the download of options data from Google Finance.

The get_options_data method downloads options data for specified expiry date and provides a formatted DataFrame with a hierarchical index, so its easy to get to the specific option you want.

Available expiry dates can be accessed from the expiry_dates property.

In [13]:
from pandas_datareader.data import Options

goog = Options('goog', 'google')

data = goog.get_options_data(expiry=goog.expiry_dates[0])

data.iloc[0:5, 0:5]

                                              Last     Bid     Ask  Chg  \
Strike Expiry     Type Symbol
340.0  2018-01-19 call GOOG180119C00340000  584.00  588.50  593.00  0.0
                  put  GOOG180119P00340000    0.10     NaN    0.25  0.0
350.0  2018-01-19 call GOOG180119C00350000  577.90  578.50  580.70  0.0
                  put  GOOG180119P00350000    0.06    0.05    0.90  0.0
360.0  2018-01-19 call GOOG180119C00360000  612.40  568.70  573.30  0.0

                                            PctChg
Strike Expiry     Type Symbol
340.0  2018-01-19 call GOOG180119C00340000     0.0
                  put  GOOG180119P00340000     0.0
350.0  2018-01-19 call GOOG180119C00350000     0.0
                  put  GOOG180119P00350000     0.0
360.0  2018-01-19 call GOOG180119C00360000     0.0

### Enigma
Access datasets from Enigma, the world’s largest repository of structured public data.

In [14]:
import os

import pandas_datareader as pdr

#df = pdr.get_data_enigma('enigma.trade.ams.toxic.2015', os.getenv('ENIGMA_API_KEY'))
#get API key from enigma

In [21]:
 #df.columns

### FRED

In [24]:
 import pandas_datareader.data as web

 import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 27)

gdp = web.DataReader("GDP", "fred", start, end)

 gdp.ix['2013-01-01']

GDP    16475.4
Name: 2013-01-01 00:00:00, dtype: float64

In [26]:
gdp.tail()

                GDP
DATE
2016-01-01  18281.6
2016-04-01  18450.1
2016-07-01  18675.3
2016-10-01  18869.4
2017-01-01  19027.1

### Fama/French
Access datasets from the Fama/French Data Library. The get_available_datasets function returns a list of all available datasets.

In [28]:
from pandas_datareader.famafrench import get_available_datasets

import pandas_datareader.data as web

len(get_available_datasets())

262

In [29]:
ds = web.DataReader("5_Industry_Portfolios", "famafrench")

print(ds['DESCR'])

5 Industry Portfolios
---------------------

This file was created by CMPT_IND_RETS using the 201705 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2017 Kenneth R. French

  0 : Average Value Weighted Returns -- Monthly (89 rows x 5 cols)
  1 : Average Equal Weighted Returns -- Monthly (89 rows x 5 cols)
  2 : Average Value Weighted Returns -- Annual (7 rows x 5 cols)
  3 : Average Equal Weighted Returns -- Annual (7 rows x 5 cols)
  4 : Number of Firms in Portfolios (89 rows x 5 cols)
  5 : Average Firm Size (89 rows x 5 cols)
  6 : Sum of BE / Sum of ME (7 rows x 5 cols)
  7 : Value-Weighted Average of BE/ME (7 rows x 5 cols)

In [31]:
ds[4].head()

         Cnsmr  Manuf  HiTec  Hlth   Other
Date
2010-01    622    737    835    468   1236
2010-02    620    734    826    465   1225
2010-03    614    729    823    459   1219
2010-04    614    726    812    459   1207
2010-05    611    723    809    458   1199

In [32]:
ds[4].ix['2013-01-01']

Cnsmr     576
Manuf     677
HiTec     751
Hlth      425
Other    1100
Name: 2013-01, dtype: int64

### World Bank
pandas users can easily access thousands of panel data series from the World Bank’s World Development Indicators by using the wb I/O functions.

#### Indicators
Either from exploring the World Bank site, or using the search function included, every world bank indicator is accessible.

For example, if you wanted to compare the Gross Domestic Products per capita in constant dollars in North America, you would use the search function:

In [35]:
from pandas_datareader import wb

wb.search('gdp.*capita.*const').iloc[:,:2]

                        id                                               name
685     6.0.GDPpc_constant  GDP per capita, PPP (constant 2011 internation...
8097        NY.GDP.PCAP.KD                 GDP per capita (constant 2010 US$)
8099        NY.GDP.PCAP.KN                      GDP per capita (constant LCU)
8101     NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2011 internation...
8102  NY.GDP.PCAP.PP.KD.87  GDP per capita, PPP (constant 1987 internation...

Then you would use the download function to acquire the data from the World Bank’s servers:

In [37]:
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA', 'MX'], start=2014, end=2017)

print(dat)

                    NY.GDP.PCAP.KD
country       year
Canada        2016    50231.885199
              2015    50109.875276
              2014    50067.042792
Mexico        2016     9707.136148
              2015     9612.964698
              2014     9492.550949
United States 2016    52194.885762
              2015    51722.096946
              2014    50782.520695

The resulting dataset is a properly formatted DataFrame with a hierarchical index, so it is easy to apply .groupby transformations to it:

In [38]:
dat['NY.GDP.PCAP.KD'].groupby(level=0).mean()

country
Canada           50136.267756
Mexico            9604.217265
United States    51566.501135
Name: NY.GDP.PCAP.KD, dtype: float64

In [43]:
wb.search('cell').head()

,id,name,source,sourceNote,sourceOrganization,topics
6372,IT.CEL.COVR.ZS,Population covered by mobile cellular network (%),WDI Database Archives,,b'',
6373,IT.CEL.SETS,Mobile cellular subscriptions,World Development Indicators,Mobile cellular telephone subscriptions are su...,"b'International Telecommunication Union, World...",Infrastructure
6374,IT.CEL.SETS.P2,Mobile cellular subscriptions (per 100 people),World Development Indicators,Mobile cellular telephone subscriptions are su...,"b'International Telecommunication Union, World...",Infrastructure
6377,IT.CELL.3MIN.CD.OP,Mobile cellular - price of 3-minute local call...,Africa Development Indicators,Please cite the International Telecommunicatio...,"b'International Telecommunication Union, World...",
6378,IT.CELL.3MIN.CD.PK,Mobile cellular - price of 3-minute local call...,Africa Development Indicators,Please cite the International Telecommunicatio...,"b'International Telecommunication Union, World...",

In [44]:
wb.search('cell.*%')

,id,name,source,sourceNote,sourceOrganization,topics
6372,IT.CEL.COVR.ZS,Population covered by mobile cellular network (%),WDI Database Archives,,b'',
6427,IT.MOB.COV.ZS,Population coverage of mobile cellular telepho...,Africa Development Indicators,Please cite the International Telecommunicatio...,"b'International Telecommunication Union, World...",

In [46]:
wb.search('cell.*%').iloc[:,:3]

,id,name,source
6372,IT.CEL.COVR.ZS,Population covered by mobile cellular network (%),WDI Database Archives
6427,IT.MOB.COV.ZS,Population coverage of mobile cellular telepho...,Africa Development Indicators

In [48]:
wb.search('cell').iloc[:5,:2]

                      id                                               name
6372      IT.CEL.COVR.ZS  Population covered by mobile cellular network (%)
6373         IT.CEL.SETS                      Mobile cellular subscriptions
6374      IT.CEL.SETS.P2     Mobile cellular subscriptions (per 100 people)
6377  IT.CELL.3MIN.CD.OP  Mobile cellular - price of 3-minute local call...
6378  IT.CELL.3MIN.CD.PK  Mobile cellular - price of 3-minute local call...

Notice that this second search was much faster than the first one because pandas now has a cached list of available data series.

In [52]:
ind = ['NY.GDP.PCAP.KD', 'IT.MOB.COV.ZS']
dat = wb.download(indicator=ind, country='all', start=2011, end=2011).dropna()
dat.columns = ['gdp', 'cellphone']
print(dat.tail())

                        gdp  cellphone
country   year
Swaziland 2011  3704.140775       94.9
Tunisia   2011  4014.916793      100.0
Uganda    2011   629.291434      100.0
Zambia    2011  1499.728311       62.0
Zimbabwe  2011   812.822513       72.4

Finally, we use the statsmodels package to assess the relationship between our two variables using ordinary least squares regression. Unsurprisingly, populations in rich countries tend to use cellphones at a higher rate:

In [53]:
import numpy as np
import statsmodels.formula.api as smf
mod = smf.ols("cellphone ~ np.log(gdp)", dat).fit()
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              cellphone   R-squared:                       0.321
Model:                            OLS   Adj. R-squared:                  0.296
Method:                 Least Squares   F-statistic:                     13.21
Date:                Wed, 26 Jul 2017   Prob (F-statistic):            0.00111
Time:                        20:26:01   Log-Likelihood:                -127.26
No. Observations:                  30   AIC:                             258.5
Df Residuals:                      28   BIC:                             261.3
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
Intercept      -2.3661     24.081     -0.098      0.922       -51.694    46.962
np.log(gdp)    11.9965      3.301      3.635      0.001         5.236    18.757
==============================================================================
Omnibus:                       27.738   Durbin-Watson:                   2.064
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               62.985
Skew:                          -1.931   Prob(JB):                     2.10e-14
Kurtosis:                       8.956   Cond. No.                         56.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [55]:
wb.search('income').head()

,id,name,source,sourceNote,sourceOrganization,topics
136,3.0.Gini_nozero,Gini Coefficient (No Zero Income),LAC Equity Lab,The Gini coefficient is most common measure of...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...,Poverty
137,3.0.IncShr.q1,Income Share of First Quintile,LAC Equity Lab,Share of household income held by the bottom q...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...,Poverty
138,3.0.IncShr.q2,Income Share of Second Quintile,LAC Equity Lab,Share of household income held by the seocnd q...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...,Poverty
139,3.0.IncShr.q3,Income Share of Third Quintile,LAC Equity Lab,Share of household income held by the third qu...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...,Poverty
140,3.0.IncShr.q4,Income Share of Fourth Quintile,LAC Equity Lab,Share of household income held by the fourth q...,b'LAC Equity Lab tabulations of SEDLAC (CEDLAS...,Poverty

### Country Codes
The country argument accepts a string or list of mixed two or three character ISO country codes, as well as dynamic World Bank exceptions to the ISO standards.

For a list of the the hard-coded country codes (used solely for error handling logic) see pandas_datareader.wb.country_codes.

### Problematic Country Codes & Indicators

The World Bank’s country list and indicators are dynamic. As of 0.15.1, wb.download() is more flexible. To achieve this, the warning and exception logic changed.

The world bank converts some country codes, in their response, which makes error checking by pandas difficult. Retired indicators still persist in the search.

Given the new flexibility of 0.15.1, improved error handling by the user may be necessary for fringe cases.

To help identify issues:

There are at least 4 kinds of country codes:

Standard (2/3 digit ISO) - returns data, will warn and error properly.
Non-standard (WB Exceptions) - returns data, but will falsely warn.
Blank - silently missing from the response.
Bad - causes the entire response from WB to fail, always exception inducing.
There are at least 3 kinds of indicators:

Current - Returns data.
Retired - Appears in search results, yet won’t return data.
Bad - Will not return data.
Use the errors argument to control warnings and exceptions. Setting errors to ignore or warn, won’t stop failed responses. (ie, 100% bad indicators, or a single “bad” (#4 above) country code).

See docstrings for more info.

#### OECD
OECD Statistics are avaliable via DataReader. You have to specify OECD’s data set code.

To confirm data set code, access to each data -> Export -> SDMX Query. Following example is to download “Trade Union Density” data which set code is “UN_DEN”.

In [2]:
import pandas_datareader.data as web

import datetime

df = web.DataReader('UN_DEN', 'oecd', end=datetime.datetime(2012, 1, 1))

df.columns

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States', 'OECD countries', 'Chile',
       'Slovenia', 'Estonia', 'Israel'],
      dtype='object', name='Country')

In [3]:
df[['Japan', 'United States']]

Country         Japan  United States
Time
2010-01-01  18.403807      11.383460
2011-01-01  18.995042      11.329488
2012-01-01  17.972384      10.815352

#### Eurostat
Eurostat are avaliable via DataReader.

Get Rail accidents by type of accident (ERA data) data. The result will be a DataFrame which has DatetimeIndex as index and MultiIndex of attributes or countries as column. The target URL is:

http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=tran_sf_railac&lang=en
You can specify dataset ID “tran_sf_railac” to get corresponding data via DataReader.

In [5]:
import pandas_datareader.data as web

df = web.DataReader("tran_sf_railac", 'eurostat')

df

ACCIDENT    Collisions of trains, including collisions with obstacles within the clearance gauge  \
UNIT                                                                                      Number
GEO                                                                                      Austria
FREQ                                                                                      Annual
TIME_PERIOD
2010-01-01                                                 3.0
2011-01-01                                                 2.0
2012-01-01                                                 1.0
2013-01-01                                                 4.0
2014-01-01                                                 1.0
2015-01-01                                                 7.0

ACCIDENT                                                                \
UNIT
GEO         Belgium Bulgaria Switzerland Channel Tunnel Czech Republic
FREQ         Annual   Annual      Annual         Annual         Annual
TIME_PERIOD
2010-01-01      5.0      2.0         5.0            0.0            3.0
2011-01-01      0.0      0.0         4.0            0.0            6.0
2012-01-01      3.0      3.0         4.0            0.0            6.0
2013-01-01      1.0      2.0         6.0            0.0            5.0
2014-01-01      3.0      4.0         0.0            0.0           13.0
2015-01-01      0.0      3.0         3.0            0.0           14.0

ACCIDENT                                                                      \
UNIT
GEO         Germany (until 1990 former territory of the FRG) Denmark Estonia
FREQ                                                  Annual  Annual  Annual
TIME_PERIOD
2010-01-01                                              13.0     0.0     1.0
2011-01-01                                              18.0     1.0     0.0
2012-01-01                                              23.0     1.0     3.0
2013-01-01                                              29.0     0.0     0.0
2014-01-01                                              32.0     0.0     0.0
2015-01-01                                              40.0     3.0     0.0

ACCIDENT                ...        Total                                     \
UNIT                    ...       Number
GEO         Greece      ...       Latvia Netherlands Norway Poland Portugal
FREQ        Annual      ...       Annual      Annual Annual Annual   Annual
TIME_PERIOD             ...
2010-01-01     4.0      ...         41.0        24.0   20.0  449.0     42.0
2011-01-01     1.0      ...         35.0        29.0   36.0  488.0     27.0
2012-01-01     2.0      ...         25.0        30.0   19.0  379.0     36.0
2013-01-01     2.0      ...         26.0        36.0   30.0  328.0     48.0
2014-01-01     1.0      ...         22.0        20.0   28.0  313.0     50.0
2015-01-01     1.0      ...         25.0        31.0   19.0  307.0     23.0

ACCIDENT
UNIT
GEO         Romania Sweden Slovenia Slovakia United Kingdom
FREQ         Annual Annual   Annual   Annual         Annual
TIME_PERIOD
2010-01-01    271.0   69.0     21.0     85.0           62.0
2011-01-01    217.0   54.0     11.0     84.0           78.0
2012-01-01    215.0   47.0     14.0     96.0           75.0
2013-01-01    180.0   43.0     13.0     94.0           84.0
2014-01-01    185.0   53.0     15.0    113.0           54.0
2015-01-01    141.0   40.0     14.0     87.0           40.0

[6 rows x 210 columns]

#### EDGAR Index
** As of December 31st, the SEC disabled access via FTP. EDGAR support currently broken until re-write to use HTTPS. **

Company filing index from EDGAR (SEC).

The daily indices get large quickly (i.e. the set of daily indices from 1994 to 2015 is 1.5GB), and the FTP server will close the connection past some downloading threshold . In testing, pulling one year at a time works well. If the FTP server starts refusing your connections, you should be able to reconnect after waiting a few minutes.

#### TSP Fund Data
Download mutual fund index prices for the TSP.

In [7]:
import pandas_datareader.tsp as tsp

tspreader = tsp.TSPReader(start='2015-10-1', end='2015-12-31')

tspreader.read().head()

,L Income,L 2020,L 2030,L 2040,L 2050,G Fund,F Fund,C Fund,S Fund,I Fund,
date,,,,,,,,,,,
2015-10-01,17.5164,22.5789,24.2159,25.5690,14.4009,14.8380,17.0467,25.7953,34.0993,23.3202,NaN
2015-10-02,17.5707,22.7413,24.4472,25.8518,14.5805,14.8388,17.0924,26.1669,34.6504,23.6367,
2015-10-05,17.6395,22.9582,24.7571,26.2306,14.8233,14.8413,17.0531,26.6467,35.3565,24.1475,
2015-10-06,17.6338,22.9390,24.7268,26.1898,14.7979,14.8421,17.0790,26.5513,35.1320,24.2294,
2015-10-07,17.6639,23.0324,24.8629,26.3598,14.9063,14.8429,17.0725,26.7751,35.6035,24.3671,

#### Nasdaq Trader Symbol Definitions
Download the latest symbols from Nasdaq.

Note that Nasdaq updates this file daily, and historical versions are not available. More information on the field definitions.

In [8]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
symbols = get_nasdaq_symbols()
print(symbols.ix['IBM'])

Nasdaq Traded                                                    True
Security Name       International Business Machines Corporation Co...
Listing Exchange                                                    N
Market Category
ETF                                                             False
Round Lot Size                                                    100
Test Issue                                                      False
Financial Status                                                  NaN
CQS Symbol                                                        IBM
NASDAQ Symbol                                                     IBM
NextShares                                                      False
Name: IBM, dtype: object

#### Caching queries

Making the same request repeatedly can use a lot of bandwidth, slow down your code and may result in your IP being banned.

pandas-datareader allows you to cache queries using requests_cache by passing a requests_cache.Session to DataReader or Options using the session parameter.

Below is an example with Yahoo! Finance. The session parameter is implemented for all datareaders.

In [15]:
import pandas_datareader.data as web

import datetime

import requests_cache

expire_after = datetime.timedelta(days=3)

session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2013, 1, 27)

f = web.DataReader("F", 'yahoo', start, end, session=session)

f.ix['2010-01-04']

Open         1.017000e+01
High         1.028000e+01
Low          1.005000e+01
Close        1.028000e+01
Adj Close    8.201456e+00
Volume       6.085580e+07
Name: 2010-01-04 00:00:00, dtype: float64

A SQLite file named cache.sqlite will be created in the working directory, storing the request until the expiry date.